<footer>
    <div class="container-fluid botf">
        <div class="row">
            <div class="col-6">
                <div class="row ft">
                    <div class="col-6">
                        <h5 class="fct">Top carpool routes</h5>
                        <ul>
                            <li>chennai to madurai</li>
                            <li>kovai to virudhunagar</li>
                            <li>madurai to ooty</li>
                            <li>virudhunagar to pondy</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h5 class="fct">About</h5>
                        <ul>
                            <li>How it works</li>
                            <li>About us</li>
                            <li>Help center</li>
                            <li>We are Hiring!</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <h5 class="fct text-center">Follow us</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="fct text-center">Contact us</h5>
                    </div>


                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <i class="fab fa-twitter fa-3x " style="color: rgb(19, 157, 211); "></i>
                        <i class="fab fa-instagram fa-3x " style="color: rgb(141, 25, 64); "></i>
                        <i class="fab fa-github fa-3x " style="color: black; "></i>
                        <i class="fab fa-linkedin-in fa-3x " style="color: rgb(48, 83, 179); "></i>

                    </div>
                    <div class="col-6 text-center">
                        <i class="fab fa-whatsapp fa-3x " style="color: green; "></i>
                        <i class="far fa-envelope fa-3x " style="color: red; "></i>
                        <i class="fas fa-phone-square-alt fa-3x " style="color: rgb(6, 212, 102); "></i>
                        <i class="fab fa-telegram fa-3x " style="color:rgb(25, 157, 209) ; "></i>
                    </div>

                </div>
                <div class="row m-4">
                    <div class="col-6 text-center">
                        <h5 class="fct">terms and conditions</h5>
                    </div>
                    <div class="col-6 text-center">
                        <h5 class="fct">RideShare@2023</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>