{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css?v=2' %}">

    <!-- jQuery CDN Link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>RideSharing</title>
</head>

<body>
    <div class="container">
        <div class="form">
            <div class="btn">
                <button class="signUpBtn">SIGN UP</button>
                <button class="loginBtn">LOG IN</button>
            </div>
            <form class="signUp" action="{% url 'signup' %}"  method="POST">
                 
                 {% csrf_token %}
                  <div class="formGroup">
                   <input type="text" placeholder="User name" name="user name" required autocomplete="off"> 
                  </div>
                  <div class="formGroup">
                
                  
                    <input type="email" placeholder="Email ID" name="email" required autocomplete="off">
                </div>
                <div class="formGroup">
                    <input type="password" id="password" name="password" placeholder="Password" required autocomplete="off">

                </div><div class="formGroup">
                {% if messages %} <ul class="messages"> {% for message in messages %} <li style="color:red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> {% endfor %} </ul> {% endif %}
              </div>
                <div class="checkBox">
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <span class="text">I agree with term & conditions</span>
                </div>
                <div class="formGroup">
                    <button type="submit" class="btn2"><span id="IL_AD1" class="IL_AD">REGISTER</span></button>
                   

            </form>

            <!------ Login Form -------- -->
            <form class="login" action="{% url 'login' %}" method="POST">
     {% csrf_token %}
                <div class="formGroup">
                    <input type="email" placeholder="Email ID" name="email" required autocomplete="off">
                </div>
                <div class="formGroup">
                    <input type="password" id="password" name="password" placeholder="Password" required autocomplete="off">

                </div>
               <div class="formGroup">
                {% if messages %} <ul class="messages"> {% for message in messages %} <li style="color:red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> {% endfor %} </ul> {% endif %}
              </div>
                <div class="checkBox">
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <span class="text">Keep me signed in on this device</span>
                </div>
                <div class="formGroup">
                    <button type="submit" class="btn2">REGISTER</button>
                </div>

            </form>

        </div>
    </div>

    <script src="{% static 'index.js?v=2' %}"></script>
</body>

</html>